<html>
<head>
    <title>Login Form</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <nav>
            <li><a href="/">Home Page</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="#" class="logoutLink">Logout</a></li>
        </nav>
    </header>
    <section class="form">
        <h1>Login Form</h1>
        <form onsubmit="return login();">
            <label for="username">User Name:</label>
            <input type="text" id="username" name="username"><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password"><br>
            <input type="submit" value="Login">
        </form>
    </section>
    <script src='/js/jquery.min.js'></script>
    <script src="/js/auth.js"></script>
</body>

</html>