<html>
<head>
    <title>Register Form</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <nav>
            <li><a href="/">Home Page</a></li>
            <li><a href="/profile" class="profile">Profile</a></li>
            <li><a href="/login" class="login">Login</a></li>
            <li><a href="/register" class="register">Register</a></li>
            <li><a href="#" class="logoutLink">Logout</a></li>
        </nav>
    </header>
    <section class="form">
        <h1>Register Form</h1>
        <!-- calls register function in auth.js -->
        <form onsubmit="return register();">
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" name="firstName"><br>
            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="lastName"><br>
            <label for="gender">Gender:</label>
            <input type="text" id="gender" name="gender"><br>
            <label for="dob">Date of Birth:</label>
            <input type="text" id="dob" name="dob"><br>
            <label for="contactNo">Contact No:</label>
            <input type="text" id="contactNo" name="contactNo"><br>
            <label for="height">Height:</label>
            <input type="text" id="height" name="height"><br>
            <label for="weight">Weight:</label>
            <input type="text" id="weight" name="weight"><br>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username"><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password"><br>
            <input type="submit" value="Register">
        </form>
    </section>
    <script src='/js/jquery.min.js'></script>
    <script src="/js/auth.js"></script>
</body>

</html>